@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Search{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Search-Bar{
    width: 80%;
    border: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.2em;
    border-bottom: 3px solid #cecece;
    transition: border 0.5s ease;
}

.Search-Bar:hover{
    border-bottom: 3px solid #a0a0a0;
    transition: border 0.5s ease;
}

.Search-Bar:focus{
    border-bottom: 3px solid #000000;
    transition: border 0.5s ease;
}

.Search-Btn{
    margin-top: 25px;
    padding: 10px 25px;
    background-color: #ffffff;
    border: 1px #000000 solid;
    cursor: pointer;
}

.Search-Btn:hover{
    text-decoration: underline #000000;
}

.Search-Results-Wrapper{
    border-top: 1px solid #e5e5e5;
}

.Search-Results-Title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.Search-Results{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Card-Wrapper{
    max-height: 175px;
    max-width: 250px;
    height: 175px;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    border: 2px #e5e5e5 solid;
    margin: 10px;
    transition: border 0.5s ease;
}

.Card-Wrapper:hover{
    border: 2px #898989 solid;
    transition: border 0.5s ease;
}

.Card-Image{
    max-height: 90px;
    max-width: 150px;
    height: 90px;
    width: 150px;
}

.Card-Title{
    margin: 0;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    text-decoration: underline #000000;
    text-align: center;
}